<!-- Home Page Banner Start-->
<section class="_dashboard_header position-relative">
    <div class="mt--65">
        <div class="_dashboard__banner position-relative">
            <img src="../../../assets/images/banner-04.png" alt="banner" />
        </div>
    </div>
</section>
<!-- /Home Page Banner End-->

<!-- Home Page Card Start -->
<section class="position-relative">
    <div class="_dashboard_cards">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://placehold.co/60X60" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://placehold.co/60X60" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://placehold.co/60X60" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Home Page Card End -->

<!-- Home page feature start -->
<section class="_dashboard_features position-relative">
    <div class="container">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="_feature_name">
                    <p class="_feature_font">
                        <span class="_feature_line">
                        </span> Feature
                    </p>
                </div>
                <div class="_feature_title">
                    <p>How Does PRIZMX Work?</p>
                </div>
                <div class="_feature_subtitle">
                    <p>PRIZM uses a system where each "coin" in a wallet's balance can be treated as miniature mining
                        farm.</p>
                </div>
                <div class="_feature_contents">
                    <p>Having replenished the balance of the wallet with just 1 PRIZMX coin, you will start
                        <span>paramining-</span>
                        an automatic process of generating new coins..
                    </p>
                </div>
                <div class="_feature_accoridan">
                    <cdk-accordion class="example-accordion">
                        @for (item of items; track item; let index = $index) {
                        <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item"
                            role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                            [attr.aria-expanded]="accordionItem.expanded"
                            [attr.aria-controls]="'accordion-body-' + index">
                            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                                {{ item.data }}
                                <span class="example-accordion-item-description">
                                    Click to {{ accordionItem.expanded ? 'close' : 'open' }}
                                </span>
                            </div>
                            <div class="example-accordion-item-body" role="region"
                                [style.display]="accordionItem.expanded ? '' : 'none'"
                                [attr.id]="'accordion-body-' + index"
                                [attr.aria-labelledby]="'accordion-header-' + index">
                                {{ item.value }}
                            </div>
                        </cdk-accordion-item>
                        }
                    </cdk-accordion>
                </div>
                <div class="_prizm_cta">
                    <a href="">
                        <button class="_prizm_cta--primary">
                            FIND OUT MORE
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Home page feature end -->

<!-- Dashboard future start -->
<section class="_dashboard_future">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="_feature_name">
                    <p class="_feature_font">
                        <span class="_feature_line">
                        </span> Future propects
                    </p>
                </div>
                <div class="_feature_title">
                    <p>PRIZMX Market Place</p>
                </div>
                <div class="_feature_subtitle">
                    <p>Unlike any other crypto that came in existance PRIZMX's main purpose is to provide fast,
                        economical, border less & safe independent payment solutions to global community.
                    </p>
                </div>
                <div class="_dashboard-bar__info d-flex">
                    <div>
                        <div class="canvas-wrap">
                            <img src="https://placehold.co/200" alt="canva" srcset="">
                        </div>
                    </div>
                    <div class="_feature_subtitle">
                        <p>
                            Prizmx Minted so far.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="_feature-future_img">
                    <img src="https://placehold.co/500x300" alt="future" srcset="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Dashboard future end -->

<!-- Dashboard form start -->
<section class="_dashboard_form">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </form>
            </div>
            <div class="col-6">
                <div class="_feature_name">
                    <p class="_feature_font">
                        <span class="_feature_line">
                        </span> PRIZMX TOOLS
                    </p>
                </div>
                <div class="_feature_title">
                    <p>Prizmx PARAMINING Calculator</p>
                </div>
                <div class="_feature_subtitle">
                    <p>Prizmx Pramining is parameter based logical implementation to bring new coins in circulation.</p>
                </div>
                <div class="_feature_contents">
                    <p>Self wallet balance, network balance and paratax based difficulty level decides how much coins
                        you mine. This calculator calculates accurate number of coins mined based on own balance, team
                        balance and duration.
                    </p>
                </div>
                <div class="_features_counter d-flex">
                    <div class="feature_count">
                        <p>0+</p>
                        <p>Profit In PZMX</p>
                    </div>
                    <div class="feature_count">
                        <p>0+</p>
                        <p>Profit In PZMX</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Dashboard form end -->

<!-- Dashboard review start -->
<section class="_dashboard_review">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="_dashboard_review--title">
                    <p>International Review</p>
                </div>
                <div class="_dashboard_review--subtitle">
                    <p>See what buzz is all around the world about PZMX.</p>
                </div>
            </div>
            <div class="col-6">
                <img src="https://placehold.co/600x400/png" alt="" srcset="">
            </div>
        </div>
    </div>
</section>
<!-- /Dashboard review end -->

<!-- Dashboard are you ready start -->
<section class="_dashboard_are_you">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="_feature_name">
                    <p class="_feature_font">
                        <span class="_feature_line">
                        </span>ARE YOU LOOKING FOR A
                    </p>
                </div>
                <div class="_feature_title">
                    <p>GET ONE PRIZMX FREE</p>
                </div>
                <div class="_feature_subtitle">
                    <p>SIGN-UP & Start PARAMINING RIGHT AWAY!</p>
                </div>
            </div>
            <div class="col-6">
                <div class="_dashboard_prizm">
                    <div class="_dashboard_mob--icon"></div>
                    <div class="_prizm_cta">
                        <a href="">
                            <button class="_prizm_cta--primary">
                                FIND OUT MORE
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Dashboard are you ready end -->

<!-- Dashboard paramining start -->
<section class="_paramining_factor">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="_feature_name">
                    <p class="_feature_font">
                        <span class="_feature_line">
                        </span>ARE YOU LOOKING FOR A
                    </p>
                </div>
                <div class="_feature_title">
                    <p>GET ONE PRIZMX FREE</p>
                </div>
                <div class="card" style="width: 100%;">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paramining system</h5>
                        <p class="card-text">The Paramining system is the most advanced tool for promotion and
                            popularization, as it has no analogues in any modern cryptocurrency. The main advantage of
                            Paramining is that no network user can interfere with this mechanism and falsify new coins,
                            all users can track the number of coins issued by the system in real time. Paramining works
                            on any wallet with a balance over 1 PZMX and automatically stops when the balance reaches
                            1,000,000 PZMX.</p>
                        <h3 class="card-title">The rate at which new coins are generated depends on personal balance
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Dashboard paramining end -->

<!-- Dashboard factor start -->
<section class="_dashboard_factor">
    <div class="container">
        <div class="row">
            <div class="col-4">PARAMINING FACTOR</div>
            <div class="col-8">
                <div class="_factor-title">
                    New coin generation rate factors:
                </div>
                <div class="_factor_list">
                    <ul>
                        <li>Number of coins in a personal wallet</li>
                        <li>Number of followers structure coins</li>
                        <li>General issue of coins</li>
                    </ul>
                </div>
                <div class="_factor_title">
                    A three- factor source of increasing the number of coins in your wallet.
                </div>
                <div class="_factor_subtitle">
                    <span>The speed of mining</span> new coins depends on the number of coins in the wallet, the more
                    cryptocurrencies, the higher the speed of paramining, the higher your profitability.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Dashboard factor end -->

<!-- Dashboard press start -->
<section class="_dashboard_media">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="_dashboard_media--title">
                <p>PRIZMX IN PRESS & MEDIA</p>
            </div>
        </div>
        <div class="col-2">
            <img src="https://placehold.co/100x60" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/100x60" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/100x60" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/100x60" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/100x60" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/100x60" alt="">
        </div>
    </div>
</div>
</section>
<!-- /Dashboard press end -->
