<header class="_pxchnge_header p-realtive">
    <div class="_pxchnge_navbar m--5">
        <nav class="navbar navbar-expand-lg _pxchnge_nav">
            <a class="navbar-brand" href="/">
                <img src="../../../assets/images/dark-logo.png" alt="logo" srcset="" class="h-100 w-100">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <div class="navbar-toggler-icon navbar__hamburger">
                    <div class="navbar__dropdown-icon-menu1"></div>
                    <div class="navbar__dropdown-icon-menu2"></div>
                    <div class="navbar__dropdown-icon-menu1"></div>
                </div>
            </button>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Features
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/how_prizmx">What is PRIZMXCHANGE</a></li>
                            <li><a class="dropdown-item" href="/paramining_content">Para Mining</a></li>
                            <li><a class="dropdown-item" href="#">P2P Trading</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Whitepaper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News & Media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>