<section class="_xchange_header mt--70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="_xchange_breadcrumbs">
                    <ul>
                        <li>Home</li>
                        <li>What is Prizmx</li>
                    </ul>
                </div>
            </div>
            <div class="col-8">
                <div class="_xchange_docs">
                    <div class="_xchange_title">
                        <p>A Crypto Coin Unlike Any!</p>
                    </div>
                    <div class="_xchange_subtitle">
                        <p>
                            PZMX is revolutionizing the world of crypto. Unlike the conventional coins that require
                            tremendous computing power for mining, PZMX only needs you to hold them in wallet. The
                            moment
                            you aquire PZMX and hold it in your wallet, it is mined automatically, saving you time,
                            effort
                            and power. You will never have to worry about spending resources or buying extra expensive
                            miners. All you need to do is aquire and watch the assets multiply! This unique utility of
                            PZMX
                            is also called para mining.
                        </p>
                    </div>
                </div>
                <div class="_xchange_docs">
                    <div class="_xchange_title">
                        <p>Secure Decentralized Transactions</p>
                    </div>
                    <div class="_xchange_subtitle">
                        <p>
                            The decentralized architecture behind PZMX transactions is robust and incredibly resistant
                            to any external threats. All your storage is protected and safe. All transactions are fully
                            secured under all circumstances. Not only that, but PZMX also has the capacity to handle
                            thousands of transactions seamlessly at once.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="https://placehold.co/375x375" alt="" />
            </div>
            <div class="col-12">
                <div class="_xchange_icon text-center">
                    <i class="fas fa-chevron-down"></i>
                    <img src="https://placehold.co/40x40" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="_xchange_pos mt--50">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="https://placehold.co/390x390" alt="" />
            </div>
            <div class="col-7">
                <div class="_xchange_docs">
                    <div class="_xchange_title">
                        <p>Secure Decentralized Transactions</p>
                    </div>
                    <div class="_xchange_subtitle">
                        <p>
                            PZMX is all about a significant reduction in computational work. Apart from the incredible
                            feature of para-mining, the Proof of Stake algorithm also helps save your resources. You can
                            earn a decent income by mining on a casual home computer or even your phone. This feature,
                            combined with the para-mining one, doubles the utility of the crypto coin, making it a
                            highly profitable asset for investment.
                        </p>
                    </div>
                </div>
                <div class="_xchange_title">
                    <p>
                        PRIZMX is Decentalized
                        <!-- Democratic
                        Inflation-Proof Future Crypto. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>