<section class="para_header mt--70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="_xchange_breadcrumbs">
                    <ul>
                        <li>Home</li>
                        <li>What is Prizmx</li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="_para_title">
                    <p>What is Paramining? How does it Work</p>
                </div>
                <div class="_para_passage">
                    <p>Paramining is a unique reward-based mechanism for the holders of the PZMX. So far, PZMX is the
                        only cryptocurrency that has introduced this mechanism. It is one of the best features as far as
                        the growth of cryptocurrency is concerned. Furthermore, para-mining is also focused on improving
                        the overall participation of people in the network security system.
                    </p>
                    <p>
                        All those who have done their share of crypto mining understand that resources need to be spent
                        on purchasing expensive computers and high electric power to run those miners to extract more
                        coins. Every miner has a different hash rate, and depending on the requirements; it may cost you
                        a lot more. One of the biggest issues is that despite all the investment, there might not be
                        much ROI, especially if the user doesn’t know the proper tactics for mining.
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="_para_title">
                    <p>Para-mining – The Game Changer in the World of Crypto</p>
                </div>
                <div class="_para_passage">
                    <p>With para-mining, the entire game is now transformed. The ones who hold the currency will no
                        longer have to worry about mining or spending some important resources on nearly invisible ROI
                        if any at all.
                    </p>
                    <p>The moment you purchase a coin, it will substantially increase in its value by turning your
                        digital wallet into a miniature farm. That means you also start mining when you purchase a coin.
                    </p>
                    <p>That means that you will start getting more coins by only purchasing. It will save you from the
                        expenses of thousands of dollars and also create a more economic reach for the coin, which
                        nearly everyone can purchase. The possibilities are endless.
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="_para_title">
                    <p>Para-mining - What Else is Included?</p>
                </div>
                <div class="_para_passage">
                    <p>Due to the exceptional reward system, the PZMX is also set to achieve a global expansion. It
                        offers a high economic value, effectively introducing a reward-based system that promises the
                        conservation of resources.
                    </p>
                    <p>The team behind the para-mining is always updating the algorithm to better meet the demands of
                        the upcoming trends. With the recent updates, the value of the PZMX is only going to increase in
                        value. With limited supply, solid auto-farming features, and incredible prowess for real-world
                        utility, the PZMX is on its way to becoming a standard for cryptocurrencies.
                    </p>
                </div>
            </div>
            <div class="col-12">
                <div class="_para_title">
                    <p>3 PARAMINING FACTORS</p>
                    <p>Self Wallet Balance</p>
                        <!-- Generation Team Wallet BalanceCoins In Currculation Based Para-Tax</p> -->
                    <p>Decide Future Supply Speed.</p>
                </div>
            </div>
        </div>
    </div>
</section>
