<!--  footer start -->
<section class="_dashboard_footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="_dashboard_logo">
                    <img src="../../../assets/images/dark-logo.png" alt="logo"/>
                </div>
            </div>
            <div class="col-8">
                <ul>
                    <li><img src="https://placehold.co/20x20" alt=""><span>{{ 'info@xchange.com' }}</span></li>
                    <li><img src="https://placehold.co/20x20" alt=""><span>Mon - Sat 9:00am - 6:00pm / Sunday - CLOSED</span></li>
                    <li><img src="https://placehold.co/20x20" alt=""></li>
                    <li><img src="https://placehold.co/20x20" alt=""></li>
                    <li><img src="https://placehold.co/20x20" alt=""></li>
                    <li><img src="https://placehold.co/20x20" alt=""></li>
                    <li><img src="https://placehold.co/20x20" alt=""></li>
                    <li><img src="https://placehold.co/20x20" alt=""></li>
                </ul>
                <div>
                    <div class="col-2">Features</div>
                    <div class="col-2">Future</div>
                    <div class="col-2">Paramining</div>
                    <div class="col-2">Paramining Factor</div>
                    <div class="col-2">P2P Trading</div>
                    <div class="col-2">Register</div>
                    <div class="col-2">Whitepaper</div>
                    <div class="col-2">Contact</div>
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="_footer-title">PRIZMXCHANGE 2024. All Rights Reserved</div>
                <div>Privacy Policy | Terms of Use</div>
            </div>
        </div>
    </div>
</section>
<!-- /footer end -->